
<div><h3>Tour of the Heroes</h3></div>
<!-- <div class="nav">
<ul>
    <li><a routerLink = "/">Dashboard</a></li>
    <li><a routerLink = "/heroes">Heroes</a></li>
</ul>
</div> -->
<nav>
    <!--routerLink is a directive made available by app-routing.module through the RouterModule-->
    <a routerLink="/dashboard">Dashboard</a> 
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet><!--tells the router where to display routed views-->
<app-messages></app-messages> <!--component used for displaying messages at the bottom of the app.component-->
